body {
    background-color: black;
    font-size: 22px;
    font-family: Helvetica;
    color: seashell;
    opacity: 0.9;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/* Header */
.header {
    height: 69px;
    display: flex; 
    justify-content: space-between;
}

li {
    display: inline;
    text-decoration: underline;
}

.logo {
    height: 50px;;
}

/* Mission statement */
.mission {
    background-image: url("images/background.jpg");
    height: 700px; 
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.statement {
    background-color: black;
    flex-grow: 1;
}

/* Tea of the month */
.tea-section {
    max-width: 1000px;
}

.tea-title {
    text-align: center;
}

.tea-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
}

.tea img {
    height: 200px;
    width: 300px;
    margin-bottom: 10px; ;
}
